// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: 1179px)",
  "pc": "screen and (min-width: 1180px)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// 共通クラス

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 0;
}

// header, section, footer{
//   border: 1px solid red;
// }

body {
  background-color: #f3f3f3;
  color: #3e3e3e;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3e3e3e;
}

img {
  width: 100%;
}

// header
header {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  right: 0;
  left: 0;
}

.header-list {
  display: flex;
  justify-content: center;
  padding: 0;
  @include mq('sp'){
    flex-direction: column;
  }
}

.hl{
  &-toggler{
    display: none;
    padding: 0 16px;
    @include mq('sp'){
      display: block;
    }
  }
  &-closer{
    padding: 0 16px;
    display: none;

  }
}
.fas{
  font-size: 24px;
}

.hl-item {
  margin: 0 20px;
  a {
    position: relative;

    ::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background: #333;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform 0.3s;
    }
    :hover::after {
      transform: scale(1, 1);
    }
  }
  @include mq('sp'){
    display: none;
    padding: 8px 0;
  }
}

// top
.top {
  background-image: url(../img/mv.png);
  background-size: cover;
  height: 648px;
  display: flex;
  align-items: center;
}

.top-item {
  margin-left: 570px;
  max-width: 570px;
  h2,
  p,
  a {
    margin: 20px 0;
  }
  @include mq("sp") {
    margin: 0 16px;
  }
}

.contact-btn {
  a {
    color: #ffffff;
    background-color: #ffaa3b;
    border: none;
    border-radius: 10px;
    padding: 14px 48px;
    font-size: 18px;
    display: inline-block;
    margin: 20px 0;
    box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
    transition: background-color 0.2s;
  }
  :hover {
    background-color: #ff8e05;
  }
  @include mq("sp") {
    display: flex;
    justify-content: center;
  }
}
// news
.news {
  display: flex;
}

.news-wrapper {
  background-color: rgba(255, 255, 255, 1);
  padding: 60px;
  margin: 130px 0;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

.section-title {
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}

.news-list {
  padding: 0;
}

.border-top {
  border-top: 2px solid rgba(243, 243, 243, 1);
}

.nl-item {
  border-bottom: 2px solid rgba(243, 243, 243, 1);
  :hover {
    background-color: rgba(59, 105, 255, 0.3);
    transition: 0.2s;
  }

  a {
    display: flex;
    align-items: center;
    padding: 20px 0;
    :hover {
      background-color: rgba(0, 0, 0, 0);
    }
    @include mq("sp") {
      flex-direction: column;
    }
  }
}

.time {
  width: 20%;
  @include mq("sp") {
    width: unset;
  }
}

.category {
  width: 10%;
  @include mq("sp") {
    width: unset;
  }
}

.news-text {
  width: 70%;
  @include mq("sp") {
    width: unset;
  }
}

.news-btn {
  text-align: center;
  padding: 40px 0;
  a {
    border: 1px solid rgba(112, 112, 112, 1);
    padding: 20px 86px;
    margin: 20px 0;
    transition: background-color 0.2s;
  }
  :hover {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(255, 255, 255, 1);
  }
}

// service
.service {
  background: linear-gradient(180deg, #3e3e3e 60%, #f3f3f3 40%);
}

.service-title {
  padding: 60px 0;
  color: rgba(255, 255, 255, 1);
}

.service-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 130px auto;
  width: fit-content;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  @include mq("sp") {
    box-shadow: none;
  }
}

.service-card {
  background-color: rgba(255, 255, 255, 1);
  width: 320px;
  text-align: center;
  padding: 50px 40px;
  img {
    width: 56%;
  }
  h2 {
    padding: 20px 0;
  }
  p {
    text-align: left;
  }
  @include mq('sp'){
    width: 90%;
    padding: 20px;
  }
}

// result
.result {
  background: linear-gradient(-90deg, #3e3e3e 0%, #3e3e3e 90%, #f3f3f3 10%, #f3f3f3 100%);
  color: #ffffff;
  @include mq("sp") {
    background: #3e3e3e;
  }
}

.result-wrapper {
  padding-left: 200px;
  @include mq("sp") {
    padding-left: 0;
  }
  h2 {
    @include mq("sp") {
      text-align: center;
    }
  }
}

.result-card-wrapper {
  display: flex;
  @include mq("sp") {
    flex-direction: column;
  }
}

.result-card {
  color: #3e3e3e;
  margin: 20px;
}

.rc-text {
  background-color: #ffffff;
  padding: 20px;

  h3,
  p {
    margin: 0;
  }
}

.result-btn {
  text-align: center;
  a {
    color: #ffffff;
    background-color: #3e3e3e;
    border: 1px solid #ffffff;
    padding: 20px 86px;
    transition: background-color 0.2s;
    display: inline-block;
    margin: 64px 0;
  }
  :hover {
    background-color: #ffffff;
    color: #3e3e3e;
  }
}

// swiper

// price

.price-title {
  padding-top: 40px;
}

.table-wrapper {
  width: 70%;
  margin: 0 auto;
}

table {
  width: 100%;
}

.table1 {
  background-color: rgba(62, 62, 62, 1);
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.table2 {
  background-color: #ffffff;
  padding: 20px;
}

.table3 {
  padding: 24px 0 110px 0;
}

// comment

.comment {
  background: linear-gradient(360deg, #3e3e3e 80%, #f3f3f3 20%);
}

.comment-flex {
  display: flex;
  align-items: flex-end;
  margin-bottom: 130px;
}

.comment-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 40px;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

.comment-title {
  margin: 40px 0;
}

.comment-text {
  display: flex;
  align-items: center;
  margin: 40px 0;
  @include mq("sp") {
    flex-direction: column;
  }
  img {
    width: 100px;
    margin-right: 50px;
  }
}
.comment-img {
  margin-bottom: 20px;
  @include mq("sp") {
    display: none;
  }
  img {
    width: 100%;
  }
}

.bg1 {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 70%, #f3f3f3 10%);
}

// faq

.faq {
  height: 800px;
  background-image: url(../img/sunyu-kim-1053375-unsplash@2x.png);
  background-attachment: fixed;
  background-size: cover;
  @include mq("sp") {
    background-position: top;
  }
}

.faq-title {
  padding: 80px 0;
  @include mq("sp") {
    color: white;
  }
}

.faq-flex {
  display: flex;
  justify-content: flex-end;
  @include mq("sp") {
    justify-content: center;
  }
}

.accordion {
  width: 50%;
  @include mq("sp") {
    width: 80%;
  }
}

.acMenu {
  margin: 20px 0;
}

.acMenu dt {
  background-color: #f3f3f3;
  display: block;
  cursor: pointer;
  padding: 22px;
}

.acMenu span {
  background-color: #3b69ff;
  border-radius: 100px;
  padding: 4px 6px;
  color: #fff;
}

.acMenu dd {
  margin: 0;
  background-color: #f3f3f3;
  display: none;
  padding: 18px;
}

.acMenu p {
  display: block;
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 7px;
  margin: 0;
  padding: 18px;
}
// access

.access {
  background: linear-gradient(180deg, #3e3e3e 70%, #f3f3f3 30%);
}

.bg2 {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 70%, #f3f3f3 30%);
}

.access-flex {
  display: flex;
  justify-content: space-between;
  padding: 130px 0;
  flex-wrap: wrap;
}
.access-btn {
  @include mq("sp") {
    display: none;
  }
}
.ac-left {
  color: #f3f3f3;
  h2 {
    margin: 0;
  }

  p {
    margin: 40px 0;
  }
}

.ac-right{
  width: -webkit-fill-available;
  iframe{
    width: 100%;
  }
}

// contact

.contact {
  background-image: url(../img/alex-blajan-159378-unsplash@2x.png);
  background-size: cover;
  @include mq('sp'){
    background-image: none;
  }
}

.contact-title {
  background-image: url(../img/contact1@2x.png);
  background-size: cover;
  color: #f3f3f3;
  text-align: center;
  margin: 80px 100px 0 100px;
  padding: 60px 0;
  @include mq('sp'){
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  h2,
  p {
    margin: 0;
    padding: 6px 0;
    @include mq('sp'){
      padding: 0;
    }
  }
  p{
    @include mq('sp'){
      font-size: 8px;
    }
  }
}

.contact-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0px 109px 80px 109px;
  padding: 60px 0;
  border-radius: 0 0 12px 12px;
  @include mq('sp'){
    margin: 0 auto;
  }
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 90px;
  flex-wrap: wrap;
  @include mq('sp'){
    margin: 0 8px;
  }
}

.select-test {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center
    right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  margin: 20px 0;
}

.select-test::-ms-expand {
  display: none;
}

.select-test:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.text-test {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  margin: 20px 0;
  width: 70%;
}

.text-test:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.label-flex,
.select-test {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.radio-test {
  display: none;
  margin: 20px 0;
}

.radio-test + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

.radio-test + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.radio-test + span::after {
  -webkit-transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.32);
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 8px;
}

.radio-test:checked + span::after {
  opacity: 1;
}

.textarea-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  margin: 0px 90px 20px 90px;
  @include mq('sp'){
    margin: 0 8px;
  }
}

.textarea-text:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.check-test {
  display: none;
  margin: 20px 0;
}

.check-test + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

.check-test + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

.check-test + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.32);
  border-left: 3px solid rgba(0, 0, 0, 0.32);
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
}

.check-test:checked + span::after {
  opacity: 1;
}

.submit{
  justify-content: center;
}

// footer
footer {
  background-color: rgba(62, 62, 62, 1);
  color: #ffffff;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 120px 8px;
}

.footer-left {
  p {
    padding: 20px 0;
    margin: 0;
  }

  i {
    font-size: 36px;
  }
}
.fa-twitter:before {
  padding: 0 20px 0 0;
}

.top-btn {
  display: flex;
  justify-content: flex-end;
}

#top_btn {
  position: fixed;
  bottom: 10px;
  background-color: rgba(243, 243, 243, 0.2);
  padding: 10px 12px;
  border: none;
}
